* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #698474;
    --secondary-color: #889e81;
    --tertiary-color: #bac7a7;
    --background-color: #e5e4cc;
}

body {
    font-family: 'Bitter', serif;
    background-color: var(--primary-color);
    color: var(--background-color);
}

body p {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}   

/* header */
header {
    background-image: url(../images/pexels-photo-1141792.jpeg);
    background-size: cover;
    background-position: 50% 35%;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav {
    padding: 30px;
}

header nav img {
    max-width: 30px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}

header nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    padding: 0 15px;
}

.header-nav ul li a:hover {
    color: var(--tertiary-color);
}

.header-glyphs img {
    box-shadow: 0 0 10px;
    background-color: rgb(136, 158, 129, 0.3);
}

.header-glyphs img:hover {
    box-shadow: 0 0 10px var(--tertiary-color);
    background-color: rgb(136, 158, 129, 0.4);
}

.github {
    border-radius: 50%;
}

.instagram {
    border-radius: 25%;
}

.secondary-glyph {
    display: flex;
    max-width: 300px;
    padding: 15px 15px 0 0;
}

/* header end */

/* hero */
.hero {
    background: url(../images/pexels-photo-1141792.jpeg);
    background-size: cover;
    background-position: 50% 35%;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
}

.card {     
    display: flex;
    margin: 40vh 40px 30px 0;
    justify-content: center;
    align-items: flex-end;
}

.prof-pic {
    max-width: 100px;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
}

.nav-pic {
    max-width: 80px;
}

.card h1 {
    font-weight: lighter;
    color: var(--background-color);
    width: 100%;
    text-align: center;
    padding: 20px;
}
/* hero end */

.content {
    margin-top: 15px;
}

.section-title { 
    color: var(--background-color);
    border-right: solid 2px;
    text-align: center;
    margin: 20px;
    align-content: flex-start;
    text-align: right;
    padding: 20px 10px;
}

/* about me section */
.about {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 32vh;
    box-shadow: 0 0 300px 150px var(--primary-color);
}

.about-me {
    padding: 20px 30px;
}
/* about me end */

/* portfolio of work */
.work {
    display: flex;
    padding: 25px 0;
    justify-content: center;
    background-image: url(../images/pexels-photo-1141792.jpeg);
    background-size: cover;
    background-position: bottom;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    grid-template-rows: repeat(3, 15vw); 
    grid-gap: 10px;
    margin: 70px auto;
}

.grid-container a {
    text-decoration: none;
    color: var(--primary-color);
}

.grid-item {
    border: solid .7vw var(--secondary-color);
    border-radius: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: lightgrey;
    height: 100%;
}

.grid-item h3 {
    color: rgb(0, 0, 0, 0.0);
    background-color: rgb(0, 0, 0, 0);
}

.grid-item:hover h3 {
    padding: 5px 5px 5px 10px;
    font-size: larger;
    color: var(--background-color);
    background-color: var(--secondary-color);
}

.main-focus {
    grid-column: 1/3;
    grid-row: 1/3;
}

.run-buddy {
    background-image: url(../images/run-buddy.png);
    background-size: cover;
    background-position: top;
}

.pagebound {
    background-image: url(../images/ClubTopics.png);
    background-size: cover;
    background-position: top;
}

.hop-to {
    background-image: url(https://user-images.githubusercontent.com/64815650/87613461-00ada300-c6d3-11ea-92d9-47cded5c1550.png);
    background-size: cover;
    background-position: top;
}

.contact {
    display: flex;
    margin: 50px auto; 
    justify-content: center; 
}

.contact-nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    height: 100%;

}

.contact-nav ul li a {
    text-decoration: none;
    color: var(--tertiary-color);
    padding: 10px 15px;
}

@media screen and (max-width: 768px) {
    .contact-nav ul {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .contact-nav ul li a {
        margin: 20px 0;
    }
}

@media screen and (max-width: 575px) {
    header {
        height: 20vh;
    }
    
    .header-nav ul {
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 30px;
        margin-left: 0;
    }

    .header-nav ul li a {
        color: var(--secondary-color);
        font-weight: bolder;
    }

    header nav {
        padding: 0;
    } 

    .header-glyphs ul {
        padding: 30px 10px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .card {
        margin: 15vh 10px 10px 0;
        flex-direction: column;
        align-items: flex-end;
    }

    .card img {
        margin: 10px 20px;
    }

    .card h1 {
        padding: 0 10px;
    }

    .prof-pic {
        order: 1;
    }

    .my-name {
        order: 2;
    }

    .grid-container {
        grid-template-columns: repeat(2, 40vw);
        grid-template-rows: repeat(5, 25vw); 
        grid-gap: 10px;
    }
}