:root {
  --base-text-color: rgba(255, 255, 255, 0.87);
  --base-background-color: #242424;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--base-text-color);
  background-color: var(--base-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

header {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title-container {
    display: grid;
    grid-template-columns: auto 1fr;
    text-wrap: nowrap;

    .name {
      margin: 2px 0 0;
      line-height: 1;
      letter-spacing: -1px;
      font-size: 1.25rem;

      @media (min-width: 800px) {
        font-size: 1.75rem;
      }
    }

    .sub {
      margin: 0;
      font-size: .8rem;

      @media (min-width: 800px) {
        font-size: 1rem;
      }
    }

    .icon {
      padding-right: 4px;

      svg {
        width: 2.5rem;
        height: 2.5rem;

        @media (min-width: 800px) {
          width: 3.5rem;
          height: 3.5rem;
        }
      }
    }
  }

  .header-links {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    margin: 0 8px;
    list-style-type: none;

    .link {
      height: 100%;
      display: flex;
      align-items: center;

      svg {
        height: 1.5rem;
        width: 1.5rem;

        @media (min-width: 800px) {
          height: 2rem;
          width: 2rem;
          padding: 0 8px;
        }
      }
    }
  }
}

.about-me {
  font-family: "Ubuntu Mono", monospace;
  margin: 0 -8px;
  padding: 4px 16px;
  font-size: .9rem;
  background-color: rgba(155, 155, 155, 0.1);
  position: relative;

  p {
    max-width: 1440px;
    margin-top: 8px;
  }

  .start {
    font-size: 2rem;
  }

  .end {
    background-color: var(--base-text-color);
    color: var(--base-background-color);
    opacity: 0.7;
    padding: 0 1px;
    margin-left: 2px;
  }

  @media (min-width: 800px) {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.2;
  }
}

.skill-section {
  margin-top: 24px;

  .title {
    padding-left: 4px;
    font-weight: 700;
    font-size: 1.25rem;

    @media (min-width: 800px) {
      font-size: 1.4rem;
    }
  }
}

.skill-carousel {
  .skill-items {
    margin: 8px 0;
  }

  .button {
    border-color: transparent;
    background-color: transparent;
    color: var(--base-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    height: 100%;
    width: 80px;
    margin: 0 -8px;
    transition: background-color 0.4s;

    &:hover:not(:disabled) {
      background-color: rgba(155, 155, 155, 0.5);
      color: #fff;
    }

    &:disabled {
      color: rgba(180, 180, 180, .3);
    }

    svg {
      stroke-width: 2px;
      height: 3.5rem;
      width: 3.5rem;
    }
  }

  & [slot="items"] {
    >li {
      list-style-type: none;
    }
  }
}

.skill-card {
  .container {
    container-type: inline-size;

    aspect-ratio: 16/9;
    display: grid;
    place-items: center;
    max-width: 600px;
    min-width: 350px;
    width: 40vw;

    grid-template-rows: 1fr 1fr;
  }

  img {
    object-fit: fill;
    width: 50%;
    max-height: 80%;
    padding-top: 8px;
    margin-bottom: 16px;

    &.less,
    &.tailwind {
      width: 40%;
    }

    @container (min-width: 500px) {
      padding-top: 16px;
    }
  }

  .skill-text {
    font-family: "Ubuntu Mono", monospace;
    background-color: rgba(155, 155, 155, 0.2);
    border-radius: 0 0 6px 6px;
    list-style-type: none;
    font-size: .8rem;
    text-align: center;
    line-height: 1.25;
    display: flex;
    padding: 0;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    height: 100%;

    @container (min-width: 500px) {
      font-size: 1.1rem;
      gap: 12px;
    }

    li,
    p {
      margin: 16px 16px 0;
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --base-text-color: #111547;
    --base-background-color: #fff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
